In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df =  pd.read_csv(r"C:\Users\raval\Downloads\Total_weekly_air_passenger_numbers_on_Ansett_airline_flights_between_Melbourne_and_Sydney__1987___1992.csv")

In [3]:
df

     Unnamed: 0    X  First.Class  Business.Class  Economy.Class
0           108  108        1.636           1.524         19.260
1           109  109        1.741           2.212         18.781
2           110  110        1.597           1.777         17.445
3           111  111        1.943           2.552         19.628
4           112  112        1.660           1.889         17.692
..          ...  ...          ...             ...            ...
171         279  279        1.458           3.053         28.837
172         280  280        1.398           2.745         26.548
173         281  281        1.423           3.156         27.279
174         282  282        1.358           3.069         27.306
175         283  283        1.488           3.379         28.299

[176 rows x 5 columns]