# TSA_lab

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from datetime import datetime

In [3]:
df= pd.read_csv(r"C:\Users\raval\jupyter_notebook\time-series-analysis-and-forcasting\Number of Retained Impressions and Advertising Expenditures.csv",encoding="latin-1")

In [4]:
df

                Firm  Amount Spent   Retained Impressions
0       Miller Lite           50.1                   32.1
1             Pepsi           74.1                   99.6
2           Strohs           19.3                   11.7
3   Federal Express           22.9                   21.9
4        Burger King          82.4                   60.8
5         Coca-Cola           40.1                   78.6
6         McDonalds         185.9                   92.4
7                MCI          26.9                   50.7
8         Diet Cola           20.4                   21.4
9              Ford          166.2                   40.1
10           Levis           27.0                   40.8
11          Bud Lite          45.6                   10.4
12         ATT Bell          154.9                   88.9
13      Calvin Klein           5.0                   12.0
14           Wendys          49.7                   29.2
15         Polaroid           26.9                   38.0
16           Shasta            5.7                   10.0
17         Meow Mix            7.6                   12.3
18      Oscar Meyer            9.2                   23.4
19             Crest          32.4                   71.1
20    Kibbles N Bits           6.1                    4.4

In [13]:
# Extract features (temperature) and target variable (usage)
X = np.column_stack((np.ones(len(df)), df['Amount Spent']))
y = df.iloc[:, -1].values  # Assuming the last column is the target variable

# Calculate coefficients using the normal equation
theta = np.linalg.inv(X.T @ X) @ X.T @ y

# Print the coefficients
intercept, slope = theta
print(f'Intercept (theta_0): {intercept:.4f}')
print(f'Slope (theta_1): {slope:.4f}')

Intercept (theta_0): 22.1627
Slope (theta_1): 0.3632