#  <h1 style="text-align:center;">Lab-Assignment - 5 Naive Bayes</h1>

Aim: Write a script to implement Naïve Bayes Classifier for the given Dataset to support the following:

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict,  cross_val_score

In [2]:
GermanCredit=pd.read_csv(r"C:\Users\raval\Downloads\germand credit card dataset\german_credit_data.csv",sep=",",index_col=0)

In [3]:
GermanCredit

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [4]:
GermanCredit.isnull().sum()

Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [5]:
Categorical_df=GermanCredit[['Sex','Housing','Purpose']]

In [6]:
Categorical_df

        Sex Housing              Purpose
0      male     own             radio/TV
1    female     own             radio/TV
2      male     own            education
3      male    free  furniture/equipment
4      male    free                  car
..      ...     ...                  ...
995  female     own  furniture/equipment
996    male     own                  car
997    male     own             radio/TV
998    male    free             radio/TV
999    male     own                  car

[1000 rows x 3 columns]

In [7]:
Ordered_df=GermanCredit[['Age','Credit amount','Duration']]

In [8]:
Ordered_df

     Age  Credit amount  Duration
0     67           1169         6
1     22           5951        48
2     49           2096        12
3     45           7882        42
4     53           4870        24
..   ...            ...       ...
995   31           1736        12
996   40           3857        30
997   38            804        12
998   23           1845        45
999   27           4576        45

[1000 rows x 3 columns]

Q1--> Support for both categorical and ordered features.

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
columns_to_encode = ['Sex', 'Housing', 'Purpose']
for column in columns_to_encode:
    Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])

C:\Users\raval\AppData\Local\Temp\ipykernel_11500\4279220906.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])
C:\Users\raval\AppData\Local\Temp\ipykernel_11500\4279220906.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])
C:\Users\raval\AppData\Local\Temp\ipykernel_11500\4279220906.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Categorical_df[column] = label_encoder.fit_transform(Categorical_df[column])

In [10]:
X_categorical =Categorical_df
X_ordered = Ordered_df
y=Categorical_df[['Purpose']]

In [11]:
X_categorical_train, X_categorical_test, y_train, y_test = train_test_split(
    X_categorical, y, test_size=0.2, random_state=42)


X_ordered_train, X_ordered_test, y_train, y_test = train_test_split(
    X_ordered, y, test_size=0.2, random_state=42)

In [14]:
from sklearn.naive_bayes import CategoricalNB,GaussianNB

nb_categorical = CategoricalNB()
nb_ordered = GaussianNB()


nb_categorical.fit(X_categorical, y)
nb_ordered.fit(X_ordered, y)


y_pred_categorical = nb_categorical.predict(X_categorical_test)
y_pred_ordered = nb_ordered.predict(X_ordered_test)

C:\Users\raval\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\raval\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
accuracy_categorical = accuracy_score(y_test, y_pred_categorical)

print("Accuracy Categorical Naïve Bayes:", accuracy_categorical)

Accuracy Categorical Naïve Bayes: 1.0

In [16]:
accuracy_ordered = accuracy_score(y_test, y_pred_ordered)

print("Accuracy Ordered Naïve Bayes:", accuracy_ordered)

Accuracy Ordered Naïve Bayes: 0.29

Q2-->Support for both discrete and continuous ordered features.

Discrete and ContinouousFeatures are same as above where Discrete=Categorical and Continous as Ordered

Q3-->Perform SVC and logistic Regression on the same dataset.

In [18]:
from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(X_ordered_train, y_train)
y_pred_svc = svc_model.predict(X_ordered_test)
accuracy_svc = accuracy_score(y_test, y_pred_svc)

C:\Users\raval\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
accuracy_svc

0.345

In [20]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_ordered_train, y_train)
y_pred_lr = lr_model.predict(X_ordered_test)
accuracy_logistic = accuracy_score(y_test, y_pred_lr)

C:\Users\raval\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\raval\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [21]:
accuracy_logistic

0.375

Q4-->Compare your results with Naïve Bayes Classifier in terms of “Accuracy, F1-Score, Precision and Recall and AUC.

Here we will use ordered pred

In [22]:
y_pred_nb=y_pred_ordered

In [23]:
accuracy_nb = accuracy_score(y_test, y_pred_nb)
f1_nb = f1_score(y_test, y_pred_nb, average='weighted')
precision_nb = precision_score(y_test, y_pred_nb, average='weighted')
recall_nb = recall_score(y_test, y_pred_nb, average='weighted')

C:\Users\raval\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Accuracy (found previously)

In [24]:
y_pred_nb= y_pred_categorical + y_pred_ordered /2

In [25]:
y_pred_nb

array([7. , 3. , 3.5, 7.5, 1.5, 5.5, 6.5, 7.5, 3.5, 1.5, 7.5, 5.5, 7.5,
       0. , 3. , 4.5, 3. , 5.5, 6.5, 6. , 1. , 5. , 5.5, 7.5, 7.5, 7.5,
       7.5, 0.5, 1.5, 3.5, 7.5, 7.5, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 1.5,
       4.5, 5.5, 3.5, 6. , 7.5, 6.5, 6.5, 4.5, 6.5, 2.5, 6.5, 6. , 5.5,
       5.5, 3.5, 3.5, 2.5, 3.5, 3.5, 5.5, 3.5, 3. , 1.5, 4.5, 1.5, 6.5,
       7.5, 6.5, 7. , 1.5, 6.5, 1.5, 7.5, 5.5, 7.5, 1.5, 7.5, 3.5, 7.5,
       4.5, 7.5, 7.5, 7.5, 7.5, 3.5, 5.5, 7.5, 7.5, 4.5, 5.5, 3.5, 3.5,
       7.5, 4.5, 6. , 3.5, 8.5, 3.5, 3.5, 3.5, 3. , 7.5, 6.5, 7.5, 7.5,
       5.5, 7.5, 3.5, 6.5, 6. , 4.5, 7.5, 3.5, 6.5, 2.5, 6.5, 6.5, 3.5,
       3.5, 7. , 0. , 3.5, 3. , 7.5, 6.5, 0.5, 6.5, 8.5, 5.5, 6.5, 3.5,
       2. , 5.5, 7.5, 6.5, 3.5, 3.5, 7.5, 5.5, 6.5, 9.5, 1.5, 3.5, 5.5,
       6.5, 1.5, 2.5, 2.5, 5.5, 6.5, 7.5, 7.5, 3.5, 2.5, 6.5, 3.5, 6.5,
       3.5, 3.5, 2.5, 4.5, 3.5, 3.5, 5.5, 3.5, 6.5, 1.5, 6.5, 3. , 3.5,
       7.5, 7.5, 6.5, 2.5, 7.5, 5.5, 6.5, 6.5, 5.5, 6. , 5. , 3.5, 2. ,
       7.5, 5.5, 6. , 5.5, 3.5, 2.5, 6.5, 3. , 6.5, 0. , 3.5, 4.5, 0.5,
       7. , 1. , 0.5, 3. , 1. ])

In [26]:
print("Naïve Bayes Metrics:",accuracy_ordered)

print("F1-Score:", f1_nb)
print("Precision:", precision_nb)
print("Recall:", recall_nb)

Naïve Bayes Metrics: 0.29
F1-Score: 0.24792061151795036
Precision: 0.26868348115299334
Recall: 0.29

F1 score

In [27]:
f1 = f1_score(y_test, y_pred_nb ,average='weighted')
print("F1-Score:", f1)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

Precision

In [28]:
precision= precision_score(y_test, y_pred_nb, average='weighted')
print("Precision:", precision_nb)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

Recall

In [ ]:
recall_nb = recall_score(y_test, y_pred_nb, average='weighted')
print("Recall:", recall_nb)

AUC

Q5-->From Q 4, analyze which model turns out to be overfitting and why?

Linear regression could be suffering from overfitting to restricted amount of training data

BONUS Q6 -->List out your general observations about different features and model accuracy using Naïve Bayes?

Although low accuracy here it worked fairly good , naive bayes is less prone to overfitting , but that also depends on data .