In [1]:
# import numpy library
import numpy as np

In [2]:
# create a numpy array from list and store it in a variable 
n = np.array([10,20,30,40,50])

In [3]:
# size of numpy array
n.size

5

In [4]:
# create a numpy array from tuple and store it in a variable 
nt = np.array((100,20,30,400))

In [5]:
# accessing numpy array element using its index
n[0]

10

In [6]:
# dimenstion of numpy array
n.ndim

1

In [7]:
# create a 2d array
n2 = np.array([[14,32,12],[31,34,78]])

In [8]:
# dimenstion of numpy array
n2.ndim

2

In [9]:
n2

array([[14, 32, 12],
       [31, 34, 78]])

slicing operation with numpy array

In [10]:
# row 1 and column 0. In Python, indexing starts from 0
n2[1,0]

31

In [11]:
# the first three elements of the n array,
n[:3]

array([10, 20, 30])

In [12]:
# the elements starting from index 2 in the original array n
n[2:]

array([30, 40, 50])

In [13]:
# retrieves the last three elements in the array 'n'
n[-3:]

array([30, 40, 50])

In [14]:
# the elements starting from index 3 in the original array n
n[3:]

array([40, 50])

In [15]:
# subarray containing elements starting from the third-to-last element (inclusive) and ending at the second-to-last element (exclusive).
n[-3:-1]

array([30, 40])

In [16]:
# access the last element of a NumPy array n
n[-1]

50

In [17]:
# retrieves a subarray containing only the last element of the array n
n[-1:]

array([50])

In [18]:
# etrieves a subarray containing all elements from the first element (index 0) up to, but not including, the last element. In other words, it excludes the last element from the selection.
n[0:-1]

array([10, 20, 30, 40])

In [19]:
n[-1:0]

array([], dtype=int32)

The slicing expression n[-1:0] would not produce any elements because it specifies a range that starts with the last element of the array and ends before the first element. In other words, it's an empty range because it tries to go from the last element to a position before the first element, which is not possible.

In Python and NumPy, the slicing notation works with the format [start:stop:step], where start is the index of the first element you want to include, stop is the index of the first element you want to exclude, and step is an optional parameter indicating the step size between elements.

In [20]:
# To get a subarray that includes all elements in reverse order
n[-1::-1]

array([50, 40, 30, 20, 10])

In [21]:
# retrieve a subarray that includes elements starting from index 2 (inclusive) up to index 4 (exclusive) in the original NumPy array n.
n[2:4]

array([30, 40])

In [22]:
# reshaping a NumPy array n2 into a new shape of (3, 2) using the reshape method.
r1=n2.reshape(3,2)
r1

array([[14, 32],
       [12, 31],
       [34, 78]])

In [23]:
resize2 =n2.resize(3,2)
resize2

resize2 will be assigned None, and the shape of n2 will be modified to (3, 2) without creating a new array. The resize method doesn't return a new array; instead, it directly changes the shape of the existing array.

In [24]:
# pixel = picture element

reshape creates a new array with the specified shape without modifying the original array, while resize changes the shape of the original array in-place.
reshape raises an error if the new shape is not compatible with the original array's size, while resize adjusts the data by repeating or removing elements to fit the new shape.

In [25]:
s1 = n2.reshape(1,6)
s1

array([[14, 32, 12, 31, 34, 78]])

In [26]:
x=n2.reshape(-1)

In [27]:
x.reshape(2,3)

array([[14, 32, 12],
       [31, 34, 78]])

In [28]:
x.reshape(1,2,3)

array([[[14, 32, 12],
        [31, 34, 78]]])

In [29]:
#generates a 2x2 NumPy array named 'a' filled with random integers between 0 (inclusive) and 100 (exclusive).
a=np.random.randint(0,100,(2,2))
print(a)

[[61 97]
 [ 4 25]]

In [30]:
#generates a 2x2 NumPy array named 'b' filled with random integers between 0 (inclusive) and 100 (exclusive).
b=np.random.randint(0,100,(2,2))
print(b)

[[63 50]
 [66 79]]

In [31]:
# merge two data sets of two-dimensional array(2*2)

# concatenate function to concatenate two arrays a and b along the vertical axis (axis=0)
z=np.concatenate((a,b),axis=0)
print(z)

[[61 97]
 [ 4 25]
 [63 50]
 [66 79]]

In [32]:
# concatenate function to concatenate two arrays a and b along the horizontal axis (axis=1)
z=np.concatenate((a,b),axis=1)
print(z)

[[61 97 63 50]
 [ 4 25 66 79]]

In [33]:
# create 2 , (2*2)-2d array
a=np.array([[10,20],[30,40]])
b=np.array([[50,60],[70,80]])

In [34]:
# concatenate a and b
c=np.concatenate((a,b),axis=1)
c

array([[10, 20, 50, 60],
       [30, 40, 70, 80]])

In [35]:
# creating a pandas DataFrame df from two lists l and c, where l represents the data and c represents the index (row labels). 

l=["a","b","c","d"]
c=["x","y","z","zz"]
import pandas as pd
df = pd.DataFrame(l,c,columns=["name"])
df

   name
x     a
y     b
z     c
zz    d

In [36]:
# for i in len(df["name"]):
#     print(df["name"][i])

In [37]:
# create 2 nd array
n6 = np.array([10,20,30,40,50])
j=np.array([12,33,56,75,89])

In [38]:
# concatenate operation
v=np.concatenate((n6,j),axis=1)

AxisError: axis 1 is out of bounds for array of dimension 1

an issue with this operation because n6 and j are 1-dimensional arrays, and concatenating them along axis=1 requires them to have the same number of rows (elements).

In [39]:
# concatenate operation
v=np.concatenate((n6,j),axis=0)

In [40]:
v

array([10, 20, 30, 40, 50, 12, 33, 56, 75, 89])