In [1]:
# import all the necessary libraries
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r"C:\Users\raval\Downloads\Sample (1).xlsx")

In [3]:
df

          Al        Co        Cr        Fe        Ni   Cu
0   0.000000  0.333333  0.000000  0.333333  0.333333  0.0
1   0.076923  0.307692  0.000000  0.307692  0.307692  0.0
2   0.142857  0.285714  0.000000  0.285714  0.285714  0.0
3   0.200000  0.266667  0.000000  0.266667  0.266667  0.0
4   0.000000  0.250000  0.250000  0.250000  0.250000  0.0
..       ...       ...       ...       ...       ...  ...
70  0.148936  0.212766  0.212766  0.212766  0.212766  0.0
71  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
72  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
73  0.163934  0.163934  0.163934  0.163934  0.344262  0.0
74  0.163934  0.163934  0.163934  0.163934  0.344262  0.0

[75 rows x 6 columns]

In [4]:
Al_vec = 3
Co_vec = 9
Cr_vec = 6
Fe_vec = 8 
Ni_vec = 10
Cu_vec = 2

In [5]:
df["vec"] = Al_vec*df["Al"] + Co_vec*df["Co"] + Cr_vec*df["Cr"] +  Fe_vec*df["Fe"] + Ni_vec*df["Ni"] + Cu_vec*df["Cu"]

In [6]:
# df.drop("formula",axis=1)

In [7]:
# # Define the vector constants as a dictionary
vec = {
    "Al_vec" : 3,
    "Co_vec" : 9,
    "Cr_vec" : 6,
    "Fe_vec" : 8 ,
    "Ni_vec" : 10,
    "Cu_vec" : 2,
}

In [8]:
# Define the vector constants as a dictionary
vector_constants = {
    'Al': 1.0,
    'Co': 2.0,
    'Cr': 3.0,
    'Fe': 4.0,
    'Ni': 5.0,
    'Cu': 6.0
}

In [14]:
n = len(vector_constants)
column_names = list(vector_constants.keys())
column_constants = list(vector_constants.values())
df['vec'] = np.dot(df[column_names].values, column_constants)

In [ ]:
input = input()

In [15]:
df

          Al        Co        Cr        Fe        Ni   Cu   formula       vec
0   0.000000  0.333333  0.000000  0.333333  0.333333  0.0  9.000000  3.666667
1   0.076923  0.307692  0.000000  0.307692  0.307692  0.0  8.538462  3.461538
2   0.142857  0.285714  0.000000  0.285714  0.285714  0.0  8.142857  3.285714
3   0.200000  0.266667  0.000000  0.266667  0.266667  0.0  7.800000  3.133333
4   0.000000  0.250000  0.250000  0.250000  0.250000  0.0  8.250000  3.500000
..       ...       ...       ...       ...       ...  ...       ...       ...
70  0.148936  0.212766  0.212766  0.212766  0.212766  0.0  7.468085  3.127660
71  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918  3.360656
72  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918  3.360656
73  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918  3.360656
74  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918  3.360656

[75 rows x 8 columns]

In [8]:
v = {}
col = ['Al', 'Co', 'Cr', 'Fe', 'Ni', 'Cu']

for column_name in col:
    value = float(input(f"Enter the constant for column '{column_name}': "))
    vector_constants[column_name] = value

Enter the constant for column 'Al': l

ValueError: could not convert string to float: 'l'

In [26]:
# # Define the vector constants as a dictionary
vec = {
    "Al_vec" : 3,
    "Co_vec" : 9,
    "Cr_vec" : 6,
    "Fe_vec" : 8 ,
    "Ni_vec" : 10,
    "Cu_vec" : 2,
}

v = {}
col = ['Al', 'Co', 'Cr', 'Fe', 'Ni', 'Cu']

while True:
    total = 0
    for column_name in col:
        value = float(input(f"Enter the constant for column '{column_name}': "))
        v[column_name] = value
        total += value

    if 0.99 <= total <= 1.0:
        break
    else:
        print("The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.")

# Calculate the 'vec' column for the specified columns using NumPy
column_names = list(v.keys())
column_constants = list(v.values())
# df['vec'] = np.dot(df[column_names].values, column_constants)

Enter the constant for column 'Al': 0.99
Enter the constant for column 'Co': 0
Enter the constant for column 'Cr': 0
Enter the constant for column 'Fe': 0
Enter the constant for column 'Ni': 0
Enter the constant for column 'Cu': 0.01

In [24]:
vec.pop( 'Cu')

0.0

In [27]:
vec

{'Al_vec': 3, 'Co_vec': 9, 'Cr_vec': 6, 'Fe_vec': 8, 'Ni_vec': 10, 'Cu_vec': 2}

In [28]:
v

{'Al': 0.99, 'Co': 0.0, 'Cr': 0.0, 'Fe': 0.0, 'Ni': 0.0, 'Cu': 0.01}

In [22]:
# Define the vector constants as a dictionary
const_vec = {
    "Al_vec" : 3,
    "Co_vec" : 9,
    "Cr_vec" : 6,
    "Fe_vec" : 8 ,
    "Ni_vec" : 10,
    "Cu_vec" : 2,
}

In [24]:
df.drop("vec",axis=1)

          Al        Co        Cr        Fe        Ni   Cu   formula
0   0.000000  0.333333  0.000000  0.333333  0.333333  0.0  9.000000
1   0.076923  0.307692  0.000000  0.307692  0.307692  0.0  8.538462
2   0.142857  0.285714  0.000000  0.285714  0.285714  0.0  8.142857
3   0.200000  0.266667  0.000000  0.266667  0.266667  0.0  7.800000
4   0.000000  0.250000  0.250000  0.250000  0.250000  0.0  8.250000
..       ...       ...       ...       ...       ...  ...       ...
70  0.148936  0.212766  0.212766  0.212766  0.212766  0.0  7.468085
71  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918
72  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918
73  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918
74  0.163934  0.163934  0.163934  0.163934  0.344262  0.0  7.704918

[75 rows x 7 columns]

In [1]:
# Your 'vec' dictionary
vec = {
    "Al_vec": 3,
    "Co_vec": 9,
    "Cr_vec": 6,
    "Fe_vec": 8,
    "Ni_vec": 10,
    "Cu_vec": 2,
}

# Define the vector constants as a dictionary
xi = {
    'Al': 1.61,
    'Co': 1.88,
    'Cr': 1.66,
    'Fe': 1.83,
    'Ni': 1.91,
    'Cu': 1.9
}

# Define the vector constants as a dictionary
ri = {
    'Al': 1.43,
    'Co': 1.25,
    'Cr': 1.28,
    'Fe': 1.26,
    'Ni': 1.24,
    'Cu': 1.28
}

v = {}
x = {}
r = {} 
col = ['Al', 'Co', 'Cr', 'Fe', 'Ni', 'Cu']

while True:
    total = 0
    for column_name in col:
        value = float(input(f"Enter the constant for column '{column_name}': "))
        v[column_name] = value
        total += value

    if 0.99 <= total <= 1.0:
        break
    else:
        print("The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.")

# Calculate the 'vec' value
vec_value = sum(vec[column_name + "_vec"] * v[column_name] for column_name in col)
xi_value = sum(xi[column_name] * x[column_name] for column_name in col)
ri_value = sum(ri[column_name] * r[column_name] for column_name in col)
# Print the resulting 'vec' value
print("The 'vec' value is:", vec_value)
print("The 'xi' value is:", xi_value)
print("The 'ri' value is:", ri_value)

Enter the constant for column 'Al': 0.33
Enter the constant for column 'Co': 0.33
Enter the constant for column 'Cr': 0.33
Enter the constant for column 'Fe': 0
Enter the constant for column 'Ni': 0
Enter the constant for column 'Cu': 0

KeyError: 'Al'

In [4]:
# xi_value
xi_value

NameError: name 'xi_value' is not defined

In [5]:
# Your 'vec' dictionary
vec = {
    "Al_vec": 3,
    "Co_vec": 9,
    "Cr_vec": 6,
    "Fe_vec": 8,
    "Ni_vec": 10,
    "Cu_vec": 2,
}

# Define the vector constants as a dictionary
xi = {
    'Al': 1.61,
    'Co': 1.88,
    'Cr': 1.66,
    'Fe': 1.83,
    'Ni': 1.91,
    'Cu': 1.9
}

# Define the vector constants as a dictionary
ri = {
    'Al': 1.43,
    'Co': 1.25,
    'Cr': 1.28,
    'Fe': 1.26,
    'Ni': 1.24,
    'Cu': 1.28
}

v = {}
x = {}
r = {}
col = ['Al', 'Co', 'Cr', 'Fe', 'Ni', 'Cu']

while True:
    total = 0
    for column_name in col:
        value = float(input(f"Enter the constant for column '{column_name}': "))
        v[column_name] = value
        total += value

    if 0.99 <= total <= 1.0:
        break
    else:
        print("The sum of constants must be between 0.99 and 1.0. Please re-enter the constants.")

# Calculate the 'vec' value
vec_value = sum(vec[column_name + "_vec"] * v[column_name] for column_name in col)

# Calculate the 'xi' value
xi_value = sum(xi[column_name] * v[column_name] for column_name in col)

# Calculate the 'ri' value
ri_value = sum(ri[column_name] * v[column_name] for column_name in col)

# Print the resulting values
print("The 'vec' value is:", vec_value)
print("The 'xi' value is:", xi_value)
print("The 'ri' value is:", ri_value)

Enter the constant for column 'Al': 0.33
Enter the constant for column 'Co': 0.33
Enter the constant for column 'Cr': 0.33
Enter the constant for column 'Fe': 0.000001
Enter the constant for column 'Ni': 0.00000001
Enter the constant for column 'Cu': 0.0001
The 'vec' value is: 5.9402081
The 'xi' value is: 1.6996918491
The 'ri' value is: 1.3069292724

In [2]:
vec_value

5.9399999999999995

In [ ]:
# Define the vector constants as a dictionary
xi = {
    'Al': 1.61,
    'Co': 1.88,
    'Cr': 1.66,
    'Fe': 1.83,
    'Ni': 1.91,
    'Cu': 1.9
}

In [ ]:
# Define the vector constants as a dictionary
ri = {
    'Al': 1.43,
    'Co': 1.25,
    'Cr': 1.28,
    'Fe': 1.26,
    'Ni': 1.24,
    'Cu': 1.28
}