In [1]:
# create a list
l=[12,44,53]

In [ ]:
# access list element by index
l[0]

12

In [3]:
l[0]=40

In [4]:
l

[40, 44, 53]

In [ ]:
# store list in x variable - we should use () instead of []
x=list[22,232,11]

In [ ]:
# check datatype of x
type(x)

types.GenericAlias

In [5]:
# create a tuple
t=(21,42,43)

In [ ]:
# check type of t
type(t)

tuple

In [8]:
# t[0]=76

In [ ]:
# create a dictionary
d={"vai":23121,
   "gid":"edwdgw",
   "e":{23,"dawq"}}

In [ ]:
type(d)

dict

In [ ]:
# list of keys of dictionary d
d.keys()

dict_keys(['vai', 'gid', 'e'])

In [ ]:
# list of values of dictionary d
d.values()

dict_values([23121, 'edwdgw', {'dawq', 23}])

In [ ]:
# list of key-value pair of dictionary d
d.items()

dict_items([('vai', 23121), ('gid', 'edwdgw'), ('e', {'dawq', 23})])

In [ ]:
dic=dict({"vai":23121,
   "gid":"edwdgw",
   "e":"dawq"})

In [ ]:
di=dict({"vai":23121,
   "gid":"edwdgw",
   "e":{"fs":"dawq"}})

In [ ]:
type(di)

dict

In [ ]:
# create a list
zo=list([121,"wsqswq",232])

In [ ]:
type(zo)

list

In [ ]:
# create 2 variable with same value
a=10
b=10

In [ ]:
# memory address of a
id(a)

136476707799568

in python if value is same then address will also be the same, 
here 10 is the value for both a and b

In [ ]:
# memory address of a
id(b)

136476707799568

In [ ]:
zot=list((121,"wsqswq",232))

In [ ]:
type(zot)

list

In [ ]:
# create a dictionary with list as a value
d1={"car":["maruti","tata","hnndai"],
    "bus":["tata","xyz","baha"]}

In [ ]:
# values of key - car
d1["car"]

['maruti', 'tata', 'hnndai']

In [ ]:
d1["car"][0]

'maruti'

In [ ]:
# iterates through the elements of a list and prints each element one by one.
for i in zot:
  print(i)

121
wsqswq
232

In [ ]:
# iterates through the elements of a dictionary(keys only) and prints each element one by one.
for i in d1:
  print(i)

car
bus

print each keys,values from a dict

In [ ]:
for i in d1:
  for x in d1.values():
    print(i,x)

car ['maruti', 'tata', 'hnndai']
car ['tata', 'xyz', 'baha']
bus ['maruti', 'tata', 'hnndai']
bus ['tata', 'xyz', 'baha']

In [ ]:
for x in d1.values():
    print(x)

['maruti', 'tata', 'hnndai']
['tata', 'xyz', 'baha']

In [ ]:
for i,j in d1.items():
  print(i,j)

car ['maruti', 'tata', 'hnndai']
bus ['tata', 'xyz', 'baha']

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
# create a df from dict
df = pd.DataFrame(d1)
df

      car   bus
0  maruti  tata
1    tata   xyz
2  hnndai  baha

In [ ]:
# create a dict
d2={"name":["a","b","c"],
    "city":["x","y","z"]}

In [ ]:
# for i,j in d2.items():
#   for k in j:

In [ ]:
# create a df from dict
df = pd.DataFrame(d2)
df

  name city
0    a    x
1    b    y
2    c    z

print city wise names for all city name

In [ ]:
l=[]
inp=input()
l.append(inp)
for i in l:
  if i==df["city"]:
  print(i)

# if inp in df["city"]:
#   print(df["city"]["name"])

IndentationError: ignored

In [ ]:
l=["x","z"]
for i in range(len(l)):
  if(df["city"][i]==l[i]):
    print(df["city"][i],":",df["name"][i])

x : a

In [ ]:
l=["x","y"]

In [ ]:
for i in l:
  print(i)

In [9]:
import pandas as pd

# Create a sample DataFrame
data = {'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Chicago'],
        'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva']}

df = pd.DataFrame(data)

# Get the unique city names
unique_cities = df['City'].unique()

# Iterate through unique cities and print names for each city
for city in unique_cities:
    print(f"City: {city}")
    city_names = df[df['City'] == city]['Name']
    for name in city_names:
        print(f"- {name}")
    print()

City: New York
- Alice
- David

City: Los Angeles
- Bob

City: Chicago
- Charlie
- Eva

In [10]:
df['City'].unique()

array(['New York', 'Los Angeles', 'Chicago'], dtype=object)

In [12]:
h = df[df['City'] == "New York"]['Name']

In [13]:
h

0    Alice
3    David
Name: Name, dtype: object

In [14]:
for i in h: 
    print(i)

Alice
David