In [1]:
import pandas as pd

In [3]:
# df = pd.read_csv(r"C:\Users\raval\Downloads\carbon+nanotubes\carbon_nanotubes.csv")
# df

In [4]:
# Read the data from a CSV file
df = pd.read_csv(r"C:\Users\raval\Downloads\carbon+nanotubes\carbon_nanotubes.csv", delimiter=';')

# Remove any leading/trailing whitespaces in column names
df.columns = df.columns.str.strip()

# Print the formatted DataFrame
print(df)

       Chiral indice n  Chiral indice m Initial atomic coordinate u  \
0                    2                1                    0,679005
1                    2                1                    0,717298
2                    2                1                    0,489336
3                    2                1                    0,413957
4                    2                1                    0,334292
...                ...              ...                         ...
10716               12                6                    0,834201
10717               12                6                    0,698374
10718               12                6                    0,923823
10719               12                6                    0,934978
10720               12                6                    0,953664

      Initial atomic coordinate v Initial atomic coordinate w  \
0                        0,701318                    0,017033
1                        0,642129                    0,231319
2                        0,303751                    0,088462
3                        0,632996                    0,040843
4                        0,543401                     0,15989
...                           ...                         ...
10716                    0,399891                     0,89127
10717                     0,24471                    0,962699
10718                    0,568913                    0,819842
10719                    0,602319                    0,938889
10720                    0,698374                    0,962699

      Calculated atomic coordinates u' Calculated atomic coordinates v'  \
0                             0,721039                         0,730232
1                             0,738414                          0,65675
2                             0,477676                         0,263221
3                             0,408823                         0,657897
4                             0,303349                         0,558807
...                                ...                              ...
10716                         0,841858                         0,405882
10717                         0,706555                         0,248416
10718                         0,929403                         0,576284
10719                         0,941844                         0,610608
10720                         0,961243                         0,707812

      Calculated atomic coordinates w'
0                             0,017014
1                             0,232369
2                             0,088712
3                             0,039796
4                             0,157373
...                                ...
10716                         0,891356
10717                         0,962833
10718                         0,819879
10719                         0,938755
10720                         0,962605

[10721 rows x 8 columns]

In [5]:
df.head()

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',Calculated atomic coordinates w'
0,2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,017014"
1,2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"
2,2,1,"0,489336","0,303751","0,088462","0,477676","0,263221","0,088712"
3,2,1,"0,413957","0,632996","0,040843","0,408823","0,657897","0,039796"
4,2,1,"0,334292","0,543401","0,15989","0,303349","0,558807","0,157373"

In [15]:
# import pandas as pd
# import mysql.connector

# # Read the data from a CSV file into a DataFrame
# df = pd.read_csv(r"C:\Users\raval\Downloads\carbon+nanotubes\carbon_nanotubes.csv", delimiter=';')

# # Establish a connection to the MySQL database
# mydb = mysql.connector.connect(
#     host='localhost',
#     user='root',
#     password='mysql',
#     database='vaibhav12345'
# )

# # Create a cursor object to execute SQL queries
# cursor = mydb.cursor()

# # # Create the table (if not already existing)
# # table_name = 'carbon_nanotube_data'
# # create_table_query = '''
# # CREATE TABLE IF NOT EXISTS {} (
# #     Chiral_indice_n INT,
# #     Chiral_indice_m INT,
# #     Initial_atomic_coordinate_u FLOAT,
# #     Initial_atomic_coordinate_v FLOAT,
# #     Initial_atomic_coordinate_w FLOAT,
# #     Calculated_atomic_coordinates_u FLOAT,
# #     Calculated_atomic_coordinates_v FLOAT,
# #     Calculated_atomic_coordinates_w FLOAT
# # )
# # '''.format(table_name)
# # cursor.execute(create_table_query)

# # Create the table (if not already existing)
# table_name = 'your_table_name'
# create_table_query = '''
# CREATE TABLE IF NOT EXISTS {} (
#     Chiral_indice_n INT,
#     Chiral_indice_m INT,
#     Initial_atomic_coordinate_u DECIMAL(10, 6),
#     Initial_atomic_coordinate_v DECIMAL(10, 6),
#     Initial_atomic_coordinate_w DECIMAL(10, 6),
#     Calculated_atomic_coordinates_u DECIMAL(10, 6),
#     Calculated_atomic_coordinates_v DECIMAL(10, 6),
#     Calculated_atomic_coordinates_w DECIMAL(10, 6)
# )
# '''.format(table_name)
# cursor.execute(create_table_query)

# # Insert the DataFrame records into the table
# insert_query = f"INSERT INTO {table_name} VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
# values = df.values.tolist()
# cursor.executemany(insert_query, values)

# # Commit the changes
# mydb.commit()

# # Close the cursor and the connection
# cursor.close()
# mydb.close()

In [14]:
# import pandas as pd
# import mysql.connector

# # Read the data from a CSV file into a DataFrame
# df = pd.read_csv(r"C:\Users\raval\Downloads\carbon+nanotubes\carbon_nanotubes.csv", delimiter=';')

# # Replace commas with dots in decimal columns
# decimal_columns = ['Initial_atomic_coordinate_u', 'Initial_atomic_coordinate_v', 'Initial_atomic_coordinate_w',
#                    'Calculated_atomic_coordinates_u', 'Calculated_atomic_coordinates_v', 'Calculated_atomic_coordinates_w']
# df[decimal_columns] = df[decimal_columns].replace(',', '.', regex=True)
# df.head()
# # Establish a connection to the MySQL database
# mydb = mysql.connector.connect(
#     host='localhost',
#     user='root',
#     password='mysql',
#     database='vaibhav12345'
# )

# # Create a cursor object to execute SQL queries
# cursor = mydb.cursor()

# # Create the table (if not already existing)
# table_name = 'your_table_name'
# create_table_query = '''
# CREATE TABLE IF NOT EXISTS {} (
#     Chiral_indice_n INT,
#     Chiral_indice_m INT,
#     Initial_atomic_coordinate_u DECIMAL(10, 6),
#     Initial_atomic_coordinate_v DECIMAL(10, 6),
#     Initial_atomic_coordinate_w DECIMAL(10, 6),
#     Calculated_atomic_coordinates_u DECIMAL(10, 6),
#     Calculated_atomic_coordinates_v DECIMAL(10, 6),
#     Calculated_atomic_coordinates_w DECIMAL(10, 6)
# )
# '''.format(table_name)
# cursor.execute(create_table_query)

# # Insert the DataFrame records into the table
# insert_query = f"INSERT INTO {table_name} VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
# values = df.values.tolist()
# cursor.executemany(insert_query, values)

# # Commit the changes
# mydb.commit()

# # Close the cursor and the connection
# cursor.close()
# mydb.close()

In [20]:
import pandas as pd
import mysql.connector

# Read the data from a CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\raval\Downloads\carbon+nanotubes\carbon_nanotubes.csv", delimiter=';')

# Convert columns to string type
df = df.astype(str)

# Split the columns into individual values
df = df.apply(lambda x: x.str.split('\t'))

# Expand the split columns into separate columns
df = df.apply(lambda x: pd.Series(x))

# Rename the columns
df.columns = ['Chiral indice n', 'Chiral indice m', 'Initial atomic coordinate u',
              'Initial atomic coordinate v', 'Initial atomic coordinate w',
              'Calculated atomic coordinates u\'', 'Calculated atomic coordinates v\'',
              'Calculated atomic coordinates w\'']

# Remove any leading/trailing whitespaces in the values
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Print the resulting DataFrame
print(df)

      Chiral indice n Chiral indice m Initial atomic coordinate u  \
0                 [2]             [1]                  [0,679005]
1                 [2]             [1]                  [0,717298]
2                 [2]             [1]                  [0,489336]
3                 [2]             [1]                  [0,413957]
4                 [2]             [1]                  [0,334292]
...               ...             ...                         ...
10716            [12]             [6]                  [0,834201]
10717            [12]             [6]                  [0,698374]
10718            [12]             [6]                  [0,923823]
10719            [12]             [6]                  [0,934978]
10720            [12]             [6]                  [0,953664]

      Initial atomic coordinate v Initial atomic coordinate w  \
0                      [0,701318]                  [0,017033]
1                      [0,642129]                  [0,231319]
2                      [0,303751]                  [0,088462]
3                      [0,632996]                  [0,040843]
4                      [0,543401]                   [0,15989]
...                           ...                         ...
10716                  [0,399891]                   [0,89127]
10717                   [0,24471]                  [0,962699]
10718                  [0,568913]                  [0,819842]
10719                  [0,602319]                  [0,938889]
10720                  [0,698374]                  [0,962699]

      Calculated atomic coordinates u' Calculated atomic coordinates v'  \
0                           [0,721039]                       [0,730232]
1                           [0,738414]                        [0,65675]
2                           [0,477676]                       [0,263221]
3                           [0,408823]                       [0,657897]
4                           [0,303349]                       [0,558807]
...                                ...                              ...
10716                       [0,841858]                       [0,405882]
10717                       [0,706555]                       [0,248416]
10718                       [0,929403]                       [0,576284]
10719                       [0,941844]                       [0,610608]
10720                       [0,961243]                       [0,707812]

      Calculated atomic coordinates w'
0                           [0,017014]
1                           [0,232369]
2                           [0,088712]
3                           [0,039796]
4                           [0,157373]
...                                ...
10716                       [0,891356]
10717                       [0,962833]
10718                       [0,819879]
10719                       [0,938755]
10720                       [0,962605]

[10721 rows x 8 columns]

In [18]:
df.head()

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',Calculated atomic coordinates w'
0,[2],[1],"[0,679005]","[0,701318]","[0,017033]","[0,721039]","[0,730232]","[0,017014]"
1,[2],[1],"[0,717298]","[0,642129]","[0,231319]","[0,738414]","[0,65675]","[0,232369]"
2,[2],[1],"[0,489336]","[0,303751]","[0,088462]","[0,477676]","[0,263221]","[0,088712]"
3,[2],[1],"[0,413957]","[0,632996]","[0,040843]","[0,408823]","[0,657897]","[0,039796]"
4,[2],[1],"[0,334292]","[0,543401]","[0,15989]","[0,303349]","[0,558807]","[0,157373]"

In [2]:
# import mysql.connector as connection
# mydb = connection.connect(host="localhost", user="root", passwd="mysql", database="vaibhav12345", use_pure=True)

# # Create table if it doesn't exist
# cur = mydb.cursor()
# cur.execute("CREATE TABLE IF NOT EXISTS your_table_name ("
#             "id INT AUTO_INCREMENT PRIMARY KEY, "
#             "chiral_indice_n INT, "
#             "chiral_indice_m INT, "
#             "initial_atomic_coordinate_u DECIMAL(18,6), "
#             "initial_atomic_coordinate_v DECIMAL(18,6), "
#             "initial_atomic_coordinate_w DECIMAL(18,6), "
#             "calculated_atomic_coordinates_u DECIMAL(18,6), "
#             "calculated_atomic_coordinates_v DECIMAL(18,6), "
#             "calculated_atomic_coordinates_w DECIMAL(18,6)"
#             ")")

# # Insert the DataFrame records into the table
# df.to_sql('your_table_name', con=mydb, if_exists='append', index=False)

# # Commit the changes
# mydb.commit()

# # Close the database connection
# mydb.close()

In [3]:
!pip install pymysql

Collecting pymysql

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ---------------------------------------- 0.0/43.7 kB ? eta -:--:--
     ---------------------------------------- 43.7/43.7 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [5]:
!pip install cryptography

Collecting cryptography
  Downloading cryptography-41.0.1-cp37-abi3-win_amd64.whl (2.6 MB)
     ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
     ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
      --------------------------------------- 0.1/2.6 MB 656.4 kB/s eta 0:00:04
     - -------------------------------------- 0.1/2.6 MB 901.1 kB/s eta 0:00:03
     -- ------------------------------------- 0.2/2.6 MB 1.1 MB/s eta 0:00:03
     --- ------------------------------------ 0.2/2.6 MB 1.1 MB/s eta 0:00:03
     --- ------------------------------------ 0.2/2.6 MB 1.0 MB/s eta 0:00:03
     ---- ----------------------------------- 0.3/2.6 MB 1.0 MB/s eta 0:00:03
     ------ --------------------------------- 0.4/2.6 MB 1.2 MB/s eta 0:00:02
     ------- -------------------------------- 0.5/2.6 MB 1.2 MB/s eta 0:00:02
     ------- -------------------------------- 0.5/2.6 MB 1.1 MB/s eta 0:00:02
     -------- ------------------------------- 0.6/2.6 MB 1.2 MB/s eta 0:00:02
     --------- ------------------------------ 0.6/2.6 MB 1.2 MB/s eta 0:00:02
     --------- ------------------------------ 0.6/2.6 MB 1.2 MB/s eta 0:00:02
     --------- ------------------------------ 0.7/2.6 MB 1.1 MB/s eta 0:00:02
     --------- ------------------------------ 0.7/2.6 MB 1.1 MB/s eta 0:00:02
     ---------- ----------------------------- 0.7/2.6 MB 1.0 MB/s eta 0:00:02
     ---------- ----------------------------- 0.7/2.6 MB 1.0 MB/s eta 0:00:02
     ---------- ----------------------------- 0.7/2.6 MB 1.0 MB/s eta 0:00:02
     ---------- ----------------------------- 0.7/2.6 MB 1.0 MB/s eta 0:00:02
     ---------------- ----------------------- 1.1/2.6 MB 1.2 MB/s eta 0:00:02
     ----------------- ---------------------- 1.1/2.6 MB 1.2 MB/s eta 0:00:02
     ----------------- ---------------------- 1.2/2.6 MB 1.2 MB/s eta 0:00:02
     ------------------ --------------------- 1.2/2.6 MB 1.2 MB/s eta 0:00:02
     ------------------ --------------------- 1.2/2.6 MB 1.2 MB/s eta 0:00:02
     ------------------ --------------------- 1.2/2.6 MB 1.2 MB/s eta 0:00:02
     ------------------- -------------------- 1.3/2.6 MB 1.1 MB/s eta 0:00:02
     -------------------- ------------------- 1.3/2.6 MB 1.1 MB/s eta 0:00:02
     -------------------- ------------------- 1.4/2.6 MB 1.1 MB/s eta 0:00:02
     -------------------- ------------------- 1.4/2.6 MB 1.1 MB/s eta 0:00:02
     -------------------- ------------------- 1.4/2.6 MB 1.1 MB/s eta 0:00:02
     ------------------------- -------------- 1.7/2.6 MB 1.2 MB/s eta 0:00:01
     ------------------------- -------------- 1.7/2.6 MB 1.2 MB/s eta 0:00:01
     --------------------------- ------------ 1.8/2.6 MB 1.2 MB/s eta 0:00:01
     ---------------------------- ----------- 1.9/2.6 MB 1.2 MB/s eta 0:00:01
     ------------------------------ --------- 2.0/2.6 MB 1.2 MB/s eta 0:00:01
     ------------------------------- -------- 2.1/2.6 MB 1.2 MB/s eta 0:00:01
     -------------------------------- ------- 2.1/2.6 MB 1.3 MB/s eta 0:00:01
     ---------------------------------- ----- 2.3/2.6 MB 1.3 MB/s eta 0:00:01
     ----------------------------------- ---- 2.4/2.6 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 2.5/2.6 MB 1.3 MB/s eta 0:00:01
     ---------------------------------------  2.6/2.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------  2.6/2.6 MB 1.4 MB/s eta 0:00:01
     ---------------------------------------- 2.6/2.6 MB 1.3 MB/s eta 0:00:00
Requirement already satisfied: cffi>=1.12 in c:\python311\lib\site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in c:\python311\lib\site-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-41.0.1

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
# import pandas as pd
# # import pymysql
# # import cryptography

# ## Connect to MySQL
# # connection = pymysql.connect(host='localhost', user='root', password='mysql', db='vaibhav12345')

# # #Read the carbon nanotube data from the UCI repository
# df = pd.read_csv('https://archive.ics.uci.edu/ml/datasets/Carbon+Nanotubes')
# df.head()
# # # Insert the carbon nanotube data into MySQL
# # df.to_sql('carbon_nanotubes', connection, if_exists='replace', index=False)

# # # Close the connection to MySQL
# # connection.close()

In [11]:
import pandas as pd 
# Read the data from a CSV file
df = pd.read_csv(r"C:\Users\raval\Downloads\carbon+nanotubes\carbon_nanotubes.csv", delimiter=';')

# Remove any leading/trailing whitespaces in column names
df.columns = df.columns.str.strip()

# Print the formatted DataFrame
print(df.head())

   Chiral indice n  Chiral indice m Initial atomic coordinate u  \
0                2                1                    0,679005
1                2                1                    0,717298
2                2                1                    0,489336
3                2                1                    0,413957
4                2                1                    0,334292

  Initial atomic coordinate v Initial atomic coordinate w  \
0                    0,701318                    0,017033
1                    0,642129                    0,231319
2                    0,303751                    0,088462
3                    0,632996                    0,040843
4                    0,543401                     0,15989

  Calculated atomic coordinates u' Calculated atomic coordinates v'  \
0                         0,721039                         0,730232
1                         0,738414                          0,65675
2                         0,477676                         0,263221
3                         0,408823                         0,657897
4                         0,303349                         0,558807

  Calculated atomic coordinates w'
0                         0,017014
1                         0,232369
2                         0,088712
3                         0,039796
4                         0,157373

In [12]:
df.head(2)

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',Calculated atomic coordinates w'
0,2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,017014"
1,2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"

In [16]:
type(df["Initial atomic coordinate u"][0])

str

In [18]:
import mysql.connector

# # Establish a connection to your MySQL database
# cnx = mysql.connector.connect(
#     host="your_host",
#     user="your_username",
#     password="your_password",
#     database="your_database"
# )
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='mysql',
    database='vaibhav12345'
)


# # Create a cursor object to execute SQL queries
# cursor = cnx.cursor()

# # Create a table in the database to store the carbon nanotube data
# create_table_query = """
# CREATE TABLE IF NOT EXISTS carbon_nanotubes (
#     chiral_index_n INT,
#     chiral_index_m INT,
#     initial_atomic_coordinate_u VARCHAR(20),
#     initial_atomic_coordinate_v VARCHAR(20),
#     initial_atomic_coordinate_w VARCHAR(20),
#     calculated_atomic_coordinates_u VARCHAR(20),
#     calculated_atomic_coordinates_v VARCHAR(20),
#     calculated_atomic_coordinates_w VARCHAR(20)
# )
# """
# cursor.execute(create_table_query)

# # Insert the data into the MySQL table
# insert_query = """
# INSERT INTO carbon_nanotubes (
#     chiral_index_n,
#     chiral_index_m,
#     initial_atomic_coordinate_u,
#     initial_atomic_coordinate_v,
#     initial_atomic_coordinate_w,
#     calculated_atomic_coordinates_u,
#     calculated_atomic_coordinates_v,
#     calculated_atomic_coordinates_w
# ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
# """

# # data = [
# #     (2, 1, '0,679005', '0,701318', '0,017033', '0,721039', '0,730232', '0,017014'),
# #     (2, 1, '0,717298', '0,642129', '0,231319', '0,738414', '0,65675', '0,232369')
# # ]

# cursor.executemany(insert_query, df)
# cnx.commit()  # Commit the changes to the database

# # Close the cursor and the database connection
# cursor.close()
# cnx.close()

In [20]:
df.to_sql("xyz",mydb)

C:\Users\raval\AppData\Local\Temp\ipykernel_11008\1464167368.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql("xyz",mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [22]:
import pandas as pd
import pymysql

# Create a connection to the MySQL database
# conn = pymysql.connect(host='localhost', user='root', password='password', database='my_database')

# Create a DataFrame
df1 = pd.DataFrame({'name': ['John Doe', 'Jane Doe'], 'age': [30, 25]})

# Insert the DataFrame into the MySQL database
df1.to_sql('customers', mydb, if_exists='replace', index=False)

# Close the connection to the MySQL database
conn.close()

C:\Users\raval\AppData\Local\Temp\ipykernel_11008\3261397741.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1.to_sql('customers', mydb, if_exists='replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [23]:
import pandas as pd
import pymysql

# Create a connection to the MySQL database
# conn = pymysql.connect(host='localhost', user='root', password='password', database='my_database')

# Create a DataFrame
df = pd.DataFrame({'name': ['John Doe', 'Jane Doe'], 'age': [30, 25]})

# Insert the DataFrame into the MySQL database
df.to_sql('customers', mydb, if_exists='replace', index=False, params={'name': 'John Doe'})

# Close the connection to the MySQL database
conn.close()

TypeError: NDFrame.to_sql() got an unexpected keyword argument 'params'