In [3]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [1]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    if 'mydb' in locals():
        mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('student',), ('sudhanshu12345',), ('sys',), ('vaibhav12345',), ('world',)]

In [5]:
res = cursor.fetchall()

In [6]:
res

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [7]:
for i in res :
    print(i[0])

information_schema
mysql
performance_schema
sakila
sys
world

In [9]:
cursor.execute("create database vaibhav12345")

In [10]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!!

In [11]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [13]:
mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="mysql",use_pure=True)

In [14]:
cur = mydb.cursor()
cur.execute("create table test(x1 INT(5) , x2 VARCHAR(20) ,x3 DATE)")
mydb.close()

In [26]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1062 (23000): Duplicate entry '1132' for key 'studentdetails.PRIMARY'

In [16]:
 mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="mysql",use_pure=True)

In [17]:
cur = mydb.cursor()
cur.execute("insert into test values(4564,'sudh' , '2021-05-15')") #yyyy-mm-dd

In [19]:
mydb.commit()

In [18]:
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")

cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")
cur.execute("insert into test values(4545,'sudhdfgd' , '2021-05-15')")

In [24]:
# import mysql.connector as connection


# try:
#     mydb = connection.connect(host="localhost", database = "vaibhav12345",user="root", passwd="mysql",use_pure=True)
#     #check if the connection is established
#     print(mydb.is_connected())
#     query = "Select * from vaibhav12345;"
#     cursor = mydb.cursor() #create a cursor to execute queries
#     cursor.execute(query)
#     for result in cursor.fetchall():
#         print(result)
#     mydb.close() #close the connection


# except Exception as e:
#     #mydb.close()
#     print(str(e))

In [29]:
mydb = connection.connect(host="localhost", database = 'sudhanshu12345',user="root", passwd="mysql",use_pure=True)

In [30]:
cur1 = mydb.cursor()
cur1.execute("select * from test")

In [31]:
for i in cur1.fetchall():
    print(i)

(4564, 'sudh', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))
(4545, 'sudhdfgd', datetime.date(2021, 5, 15))

In [32]:
cur = mydb.cursor()
cur.execute("select x1, x2 from test")
for i in cur.fetchall():
    print(i)

(4564, 'sudh')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')
(4545, 'sudhdfgd')

In [33]:
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from test;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True
      x1        x2          x3
0   4564      sudh  2021-05-15
1   4545  sudhdfgd  2021-05-15
2   4545  sudhdfgd  2021-05-15
3   4545  sudhdfgd  2021-05-15
4   4545  sudhdfgd  2021-05-15
5   4545  sudhdfgd  2021-05-15
6   4545  sudhdfgd  2021-05-15
7   4545  sudhdfgd  2021-05-15
8   4545  sudhdfgd  2021-05-15
9   4545  sudhdfgd  2021-05-15
10  4545  sudhdfgd  2021-05-15
11  4545  sudhdfgd  2021-05-15
12  4545  sudhdfgd  2021-05-15
13  4545  sudhdfgd  2021-05-15
14  4545  sudhdfgd  2021-05-15
15  4545  sudhdfgd  2021-05-15
16  4545  sudhdfgd  2021-05-15

C:\Users\raval\AppData\Local\Temp\ipykernel_14764\631451604.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pandas.read_sql(query,mydb)

In [34]:
import pandas as pd

In [40]:
data = pd.read_csv(r"V:\Full Stack Data Science\2. Live class Lectures\2. Databases\2. Databases Resources\19.2.MySQL\mydata.csv",names=["a","b","c"]
                  )

In [41]:
data

     a          b     c
0    0  5/15/2021  4564
1    1  5/15/2021  4545
2    2  5/15/2021  4545
3    3  5/15/2021  4545
4    4  5/15/2021  4545
5    5  5/15/2021  4545
6    6  5/15/2021  4545
7    7  5/15/2021  4545
8    8  5/15/2021  4545
9    9  5/15/2021  4545
10  10  5/15/2021  4545
11  11  5/15/2021  4545
12  12  5/15/2021  4545
13  13  5/15/2021  4545
14  14  5/15/2021  4545
15  15  5/15/2021  4545
16  16  5/15/2021  4545
17  17  5/15/2021  4545
18  18  5/15/2021  4545
19  19  5/15/2021  4545
20  20  5/15/2021  4545
21  21  5/15/2021  4545
22  22  5/15/2021  4545
23  23  5/15/2021  4545
24  24  5/15/2021  4545
25  25  5/15/2021  4545
26  26  5/15/2021  4545
27  27  5/15/2021  4545
28  28  5/15/2021  4545

In [47]:
data[["b","c"]]=data[["c","b"]]

In [51]:
data

     a     b          c
0    0  4564  5/15/2021
1    1  4545  5/15/2021
2    2  4545  5/15/2021
3    3  4545  5/15/2021
4    4  4545  5/15/2021
5    5  4545  5/15/2021
6    6  4545  5/15/2021
7    7  4545  5/15/2021
8    8  4545  5/15/2021
9    9  4545  5/15/2021
10  10  4545  5/15/2021
11  11  4545  5/15/2021
12  12  4545  5/15/2021
13  13  4545  5/15/2021
14  14  4545  5/15/2021
15  15  4545  5/15/2021
16  16  4545  5/15/2021
17  17  4545  5/15/2021
18  18  4545  5/15/2021
19  19  4545  5/15/2021
20  20  4545  5/15/2021
21  21  4545  5/15/2021
22  22  4545  5/15/2021
23  23  4545  5/15/2021
24  24  4545  5/15/2021
25  25  4545  5/15/2021
26  26  4545  5/15/2021
27  27  4545  5/15/2021
28  28  4545  5/15/2021

In [52]:
mydb = connection.connect(host="localhost", database='sudhanshu12345', user="root", passwd="mysql", use_pure=True)
mydb

In [53]:
cur = mydb.cursor()
cur.execute("create table mydata(n1 int(20) , n2 varchar(20) , n3 date)")

ProgrammingError: 1050 (42S01): Table 'mydata' already exists

In [54]:
data.to_sql('mydata',mydb)

C:\Users\raval\AppData\Local\Temp\ipykernel_14764\3739664175.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data.to_sql('mydata',mydb)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [50]:
mydb.close()